@forward "global";
@use "./responsive/breakpoint" as break;
@use "./fonts/colors" as color;
@use "./fonts/text" as text;
@use "./responsive/layouts" as layout;

//import for other pages

// for main page design
body {
  height: 100vh;
  background-image: url(../img/blob.svg);
  background-repeat: no-repeat;
  background-size: 125rem;
  background-attachment: fixed;
  background-position: -50rem -10rem;
  @include break.breakpoint(large) {
    background-size: 110rem;
  }
  @include break.breakpoint(medium) {
    background-size: 100rem;
    background-position: -50rem 0rem;
  }
  @include break.breakpoint(small) {
    background-size: 90rem;
    background-position: -50rem 0rem;
  }
  @include break.breakpoint(largePhone) {
    background-size: 90rem;
    background-position: -50rem 40rem;
  }
  .main {
    height: 100vh;
    display: grid;
    grid-template-rows: 0.1fr 1fr;

    nav {
      margin: 1rem;
      @include layout.gridCenter();
      grid-template-columns: 0.2fr 1fr;
      .hambar {
        display: none;
        @include break.breakpoint(largePhone) {
          display: block;

          width: 50px;
          height: auto;
          z-index: 3;
        }
      }
      div {
        @include layout.flexCenter();
        justify-content: space-evenly;
        width: 100%;
        font-size: text.$midSize;
        @include break.breakpoint(medium) {
          font-size: text.$halfSmall;
        }
        @include break.breakpoint(largePhone) {
          display: none;
        }
        a {
          text-decoration: none;
          color: #000;
        }
      }
      h1 {
        font-size: text.$XLargeSize;
        @include break.breakpoint(medium) {
          font-size: text.$largeSize;
        }
        @include break.breakpoint(largePhone) {
          margin-right: auto;
        }
      }
    }

    .first-page {
      @include layout.gridCenter();
      grid-template-columns: 1fr 1fr;
      @include break.breakpoint(large) {
        grid-template-columns: 1fr 0.5fr;
      }
      @include break.breakpoint(largePhone) {
        @include layout.flexCenter();
        flex-direction: column;
      }
      .onlineCv {
        border-radius: 8rem;
        width: 50rem;
        @include break.breakpoint(large) {
          width: 45rem;
        }
        @include break.breakpoint(medium) {
          width: 35rem;
        }
        @include break.breakpoint(small) {
          width: 25rem;
        }
      }

      .description {
        @include layout.flexCenter();
        flex-direction: column;
        justify-content: space-evenly;
        align-items: center;
        height: 100%;
        margin: 0.5rem;
        @include break.breakpoint(small) {
          margin: 2rem;
        }
        h1 {
          text-align: center;
          font-size: text.$largeSize;
          width: 100%;
          @include break.breakpoint(medium) {
            font-size: text.$midSize;
          }
        }
        ul {
          font-size: text.$midSize;
          @include break.breakpoint(medium) {
            font-size: text.$halfSmall;
          }

          p {
            padding: 1rem;
          }
          li {
            padding: 1rem;
            list-style: none;
          }
        }
        button {
          outline: none;
          border: none;
          background-color: color.$blobPurp;
          color: color.$white;
          width: 20rem;
          height: 5rem;
          border-radius: 10rem;
          font-size: text.$midSize;
          cursor: pointer;
          @include break.breakpoint(medium) {
            width: 15rem;
            font-size: text.$halfSmall;
          }

          &:hover {
            background-color: color.$darkBlob;
          }
        }
      }
    }
  }
}
